apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-container
        image: 793873033781.dkr.ecr.ap-south-1.amazonaws.com/python-k8s-app
        ports:
        - containerPort: 5000

